body {
    margin: 0;
    padding-bottom: 50px;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form {
    text-align: center;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
}

input,
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
}